/* book list container style */
.book-list {
    padding: 20px;
}

/* container for all book cards */
.book-grid {
    display: flex; /* use flexbox to display books horizontally */
    flex-wrap: wrap; /* allow wrapping to new rows if needed */
    gap: 20px; /* add space between the items */
}

body, h2, h3 {
    color: #002266;
}

/* style for individual book cards */
.book-card {
    background-color: #e6eeff; /* light background for cards */
    border: 2px solid #b3ccff; /* border around each card 2 pixels */
    padding: 20px;
    border-radius: 8px; /* rounded corners */
    width: 250px; /* fixed width for each book card */
    text-align: left;
}

/* book cover properties */
.book-card img {
    width: 150px;  /* Adjust this value to your preferred width */
    height: 225px; /* Adjust this value to your preferred height */
    object-fit: cover;  /* Ensures the image maintains its aspect ratio */
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Show book itle*/
.book-title {
    position: relative;
    cursor: pointer;
}

/* Initially hide the popup */
.book-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgba(0, 34, 102, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    z-index: 1;
    margin-left: 10px;
}

/* Hover effect for book title */
.book-title:hover .book-popup {
    display: block;
}

/* style for book titles *
.book-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* style for book details *
.book-card p {
    margin: 8px 0;
}

/* style for book authors and other details *
.book-card strong {
    font-weight: bold;
}*/

/*button for checking out book (if it's in stock)    |    ripped from index.css; we can format accordingly
  this should submit a form on press so we need to send username in that form IF we want to track who currently has what book (by username)*/
.book-card button[type=submit] { 
  width: 100%;
  background-color: #003cb3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*hover for book button*/
.book-card button[type=submit]:hover {
  background-color: #002266;
}
