<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
		<title>Library Catalog</title>
		<!-- <meta name="description" content=""> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="index.css">
	</head>
	<body>
		<header>
			<h1>Library Catalog</h1>
			<nav>
				<a href="index.html">Home</a> &nbsp;
				<a href=__>Books by Genre</a> &nbsp;
			</nav>
		</header>
		<div id="root"></div>
		<div class="login">
			<form action="http://localhost:3000/login" method="POST" name="login">
			<!-- ^ idk if that action link is right, it is my best guess at the moment -->
				<h2 id="header">User Login</h2>
				<div>
					<label for="username">Username</label>
					<input id="username" type="text" name="username">
				</div>
				<div>
					<label for="password">Password</label>
					<input id="password" type="password" name="password">
				</div>
				<button id="login" type="submit" value="submit">Log in</button>
			</form>

			
		</div>
		
		<script type="module" src="index.js"></script>
	</body>
</html>
